body {
    background-color: hsl(235, 21%, 11%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #11ffee00;

    width:700px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    margin: 20px;

    border-radius: 10px;
}

.header{
    width: 100%;

    margin-bottom: 20px;
}

.header-title{
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    color: white;
    letter-spacing: 1.3rem;
    font-weight: 700;
}

.add-button {
    border-radius: 45px;
    border: 1px solid grey;

    background-color: #11ffee00;

    color: hsl(233, 14%, 35%);

    margin-right: 5px;
}

.add-button:hover{
    cursor: pointer;
}

.input-container{
    display: flex;
    gap: 10px;

    background-color: hsl(235, 24%, 19%);

    width: 100%;

    padding: 20px 20px;

    border-radius: 5px;

    margin-bottom: 30px;

}

.txt-input{
    font-family: "Josefin Sans", sans-serif;
    color:hsl(236, 33%, 92%);
}

.txt-input::placeholder{
    color:hsl(233, 14%, 35%);
}

.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: hsl(235, 24%, 19%);

    width: 100%;

    padding: 20px 20px;
    margin-left: -20px;

    border-radius: 5px;

    font-family: "Josefin Sans", sans-serif;
    color:  hsl(234, 39%, 75%);
}

.todo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-checkbox{
    transform: scale(1.8);
    border-radius: 50%;
}

.delete {
    font-size: 18px;
}

.delete:hover{
    cursor: pointer;
}
